@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:wght@300&display=swap');

html {
	font-size: 1em;
	line-height: 1.4;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	-webkit-text-size-adjust: 100%;
    color: rgb(41, 41, 41)9, 56, 56);
}
div {
    padding: 30px 30px 0 30px;
}

pre {
    color: rgb(225, 74, 230);
    white-space: pre-wrap;
    background: #efefef8f;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.85em;
}

#msg{
    color: green;
}

#err{
    color: red;
}